:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9; // Light grey background for the whole host component
  color: #333; // Default text color
  font-family: 'Arial', sans-serif; // Default font for the content
}

.post-section {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; // White background for the post section
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15); // Soft shadow for depth
}

.post-container {
  display: flex;
  flex-direction: column;
}

.post-header {
  display: flex;
  flex-direction: column;
}

.post-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #275E94; // Blue color for the title
}

.post-metadata {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #666; // Lighter grey for metadata
  margin-bottom: 20px;
}

.author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #ccc; // Border to highlight the author image
}

.featured-image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  object-position: center; /* Default is center, but can be top, bottom, 50% 20%, etc. */
  border-radius: 8px;
  margin-bottom: 20px;
}



.post-body {
  font-size: 18px;
  line-height: 1.8;
  color: #444; // Slightly darker grey for body text
  text-align: left;

  p, ul, ol, li {
    margin-bottom: 10px;
    font-size: 18px; // Readable text size
  }

  ul, ol {
    padding-left: 20px; // Proper indentation for lists
  }

  li {
    list-style-type: disc; // Ensures visible bullet points
  }

  b, strong {
    font-weight: bold; // Ensures bold texts are appropriately bold
  }

  a {
    color: #1a0dab; // Link color similar to default web blue
    text-decoration: none; // No underline by default

    &:hover {
      text-decoration: underline; // Underline on hover for links
    }
  }

  img {
    max-width: 100%; // Ensures images do not overflow the content width
    height: auto; // Keeps image aspect ratio
    margin-top: 10px; // Space above images within text
    margin-bottom: 10px; // Space below images within text
  }

  
}

.post-body table {
  width: 100%; // Ensures the table stretches to the width of the post body
  border-collapse: collapse; // Collapses border to avoid double borders
  margin-top: 20px; // Adds margin on top of the table for spacing
  margin-bottom: 20px; // Adds margin below the table for spacing
}

.post-body th, .post-body td {
  border: 1px solid #ccc; // Adds borders to cells
  padding: 8px; // Adds padding inside cells for better readability
  text-align: left; // Aligns text to the left; adjust as needed
}

.post-body th {
  background-color: #f2f2f2; // Gives a background color to header cells
  font-weight: bold; // Makes text bold in header cells
}



.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #333;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
