<ng-container
  *ngTemplateOutlet="post;context: {post: postSig(), loading: loadingSig(), isLoggedIn: isLoggedIn$ | async, user: user$ | async}" />

<ng-template #post let-post="post" let-loading="loading" let-isLoggedIn="isLoggedIn" let-user="user">
  <section class="flex w-full flex-col gap-8 px-4 py-20">
    <ng-container *ngIf="!loading && post">
      <div class="flex flex-col gap-4">
        <h1 class="text-4xl font-extrabold">{{ post?.title }}</h1>
        <img [src]="safeImageUrl" alt="Featured Image" class="featured-image"> <!-- Updated line -->
      
        <!-- <div class="blog-content pt-30" [innerHTML]="post?.body" ></div> -->
        <p class="blog-content text-2xl" [innerHTML]="safeHtmlContent"></p>
        <p class="author">Author: {{ post?.author }}</p>
      </div>
    </ng-container>
    <ng-container *ngIf="loading">
      <div class="mt-4 flex flex-col items-center justify-center gap-2">
        <span class="loading loading-spinner loading-lg bg-typography-primary"></span>
        <p class="text-sm font-semibold">Loading</p>
      </div>
    </ng-container>
  </section>
</ng-template>
