<ng-container
  *ngTemplateOutlet="post;context: {post: postSig(), loading: loadingSig(), isLoggedIn: isLoggedIn$ | async, user: user$ | async}">
</ng-container>

<ng-template #post let-post="post" let-loading="loading" let-isLoggedIn="isLoggedIn" let-user="user">
  <section class="post-section">
    <ng-container *ngIf="!loading && post">
      <article class="post-container">
        <div class="post-header">
          <h1 class="post-title">{{ post?.title }}</h1>
          <div class="post-metadata">
            <img src="../../../../../assets/tutorPhotos/Aman (2).jpeg" alt="{{ post?.author }}" class="author-image">
            <div>
              <span class="post-author">By {{ post?.author }}</span>
              <p class="post-date">{{ post?.createdAt | date:'longDate' }}</p>
            </div>
          </div>
        </div>
        <img [src]="safeImageUrl" alt="Featured Image" class="featured-image">
        <div class="post-body" [innerHTML]="safeHtmlContent"></div>


      </article>
    </ng-container>
    <ng-container *ngIf="loading">
      <div class="loading-container">
        <span class="loading-spinner"></span>
        <p>Loading...</p>
      </div>
    </ng-container>
  </section>
</ng-template>
