:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9; // Light grey background for the whole host component
  color: #333; // Default text color
  font-family: 'Roboto', 'Arial', sans-serif; // Roboto as primary, Arial as fallback
}

.post-section {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; // White background for the post section
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15); // Soft shadow for depth
}

.post-container {
  display: flex;
  flex-direction: column;
}

.post-header {
  display: flex;
  flex-direction: column;
}

.post-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #275E94; // Blue color for the title
}

.post-metadata {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #666; // Lighter grey for metadata
  margin-bottom: 20px;
}

.author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #ccc; // Border to highlight the author image
}

.featured-image {
  width: 100%; /* Full width of the container */
  max-height: 350px; /* Maximum height allowed */
  object-fit: cover; /* Adjusts the size of the image to fit the container while showing the whole image */
  object-position: center; /* Centers the image within the container */
  border-radius: 8px; /* Rounded corners */
  margin-bottom: 20px; /* Space below the image */
  border: 2px solid #275E94; /* Blue border, 1px thick */
}



.post-body {



  font-size: 18px;
  line-height: 1.8;
  color: #444; // Slightly darker grey for body text
  text-align: left;
  

  p, ul, ol, li {
    margin-bottom: 10px;
    font-size: 18px;
  }

  ul, ol {
    padding-left: 20px;
  }

  li {
    list-style-type: disc;
  }

  b, strong {
    font-weight: bold;
  }

  a {
    color: #1a0dab; // Link color
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #333;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
