.til-preview-grid {
  grid-template-columns: repeat(4, 1fr);
}

.til-preview-grid > a:nth-child(3n) {
  @apply rounded-lg border-2 border-dashed border-blue-300 bg-blue-200;
}

.til-preview-grid > a:nth-child(3n + 1) {
  @apply rounded-lg bg-green-200;
}

.til-preview-grid > a:nth-child(3n + 2) {
  @apply rounded-lg bg-neutral;
}


// review section
.testimonial-section {
  margin-top: 0;
  text-align: center;
  padding: 50px 20px;

  h1 {
    color: #333;
    margin-bottom: 80px;
    font-size: 2.2rem;
    font-family: 'Arial', sans-serif;

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    @media (max-width: 480px) {
      font-size: 1.8rem;
    }
  }
}

.testimonial-wrapper {
  overflow-x: auto;
  padding: 60px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 768px) {
    padding: 40px;
  }
}

.testimonial-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 20px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.testimonial-card {
  flex: 0 0 340px;
  min-height: 350px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 60px;

  @media (max-width: 768px) {
    width: 100%;
  }

  .testimonial-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .testimonial-content {
    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: #444;
      margin-bottom: 5px;
    }

    .role {
      font-size: 1rem;
      color: #666;
      text-align: center;
      margin-bottom: 20px;
    }

    .rating {
      color: #ffc107;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      color: #555;
      line-height: 1.6;
      text-align: left;
    }
  }
}
// Header 

.section-header {
  text-align: center;
  margin-bottom: 30px; // Space between the header and the cards

  h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }

  p {
    font-size: 16px;
    color: #666;
    margin-top: 10px; // Small gap between the heading and paragraph
    max-width: 600px; // Limit the paragraph width for better readability
    margin-left: auto;
    margin-right: auto; // Center the text block
  }
}



// Latest  post scss
.card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
  overflow-x: auto;
  -ms-overflow-style: none; // Hides scrollbar on Internet Explorer and Edge
  scrollbar-width: none; // Hides scrollbar on Firefox

  &::-webkit-scrollbar {
    display: none; // Hides scrollbar on WebKit browsers (Chrome, Safari)
  }




  @media (max-width: 768px) {
    flex-wrap: nowrap; // Prevents cards from stacking on smaller screens
    padding: 20px;
    gap: 15px;
  }

  @media (max-width: 480px) {
    padding: 15px;
    gap: 10px;
  }
}

.card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 15px;
  width: 35%;
  min-width: 250px; // Minimum width to keep cards readable on smaller screens
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, border-color 0.2s;
  flex-shrink: 0; // Prevents cards from shrinking in a flex container

  &:hover {
    transform: translateY(-5px);
    border-color: #ccc;
  }

  .category {
    color: green;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
  }

  .image-container {
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #e0e0e0;

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .description {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .date {
    font-size: 14px;
    color: #999;
  }

  // Media queries for card content adjustments
  @media (max-width: 768px) {
    width: 45%;
    .title {
      font-size: 18px;
    }
    .description {
      font-size: 15px;
    }
    .image-container img {
      height: 150px;
    }
  }

  @media (max-width: 480px) {
    width: 60%;
    .title {
      font-size: 16px;
    }
    .description {
      font-size: 14px;
    }
    .image-container img {
      height: 130px;
    }
  }
}
