<section class="overflow-hidden px-8 py-20 max-md:px-4">
  <h2 class="text-4xl font-bold">Learned lately</h2>
  <div class="til-preview-grid mt-8 grid gap-4">
    @for (item of tilItems; track i; let i = $index) {
      <a
        class="indicator gap-4 transition-all duration-300 ease-in-out hover:-translate-y-1.5"
      >
        @if (!i) {
          <span class="badge indicator-item indicator-center bg-blue-200"
            >new</span
          >
        }
        <div class="flex w-96 cursor-pointer break-inside-avoid flex-col p-6">
          <div class="flex flex-col gap-4">
            <div class="flex items-center gap-4">
              <div class="avatar">
                <div class="w-12 rounded-full">
                  <img
                    alt="Avatar"
                    src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
                  />
                </div>
              </div>
              <div class="flex flex-col overflow-auto">
                <h3 class="truncate font-bold">
                  {{ item.title }}
                </h3>
                <p class="truncate text-sm text-gray-500">
                  by {{ item.author }}
                </p>
              </div>
            </div>
            <p class="text-sm">
              {{
                item.description.length > 100
                  ? item.description.substring(0, 100) + '...'
                  : item.description
              }}
            </p>
          </div>
          <div class="divider my-1"></div>
          <div class="flex flex-col gap-2">
            <p class="text-sm opacity-60">{{ item.likes }} likes</p>
            <div class="flex flex-wrap gap-2">
              @for (tag of item.tags.slice(0, 3); track $index) {
                <div class="badge">
                  {{ tag }}
                </div>
              }
            </div>
          </div>
        </div>
      </a>
    }
  </div>
</section>

    <!--Review section -->
    <div class="testimonial-section">
      <h1>What Our Lovely Clients Say</h1>
      <div class="testimonial-wrapper"> 
      <div class="testimonial-container">
          <!-- Review 1 -->
          <div class="testimonial-card">
              <div class="testimonial-image">
                  <img src="https://static.vecteezy.com/system/resources/thumbnails/037/807/889/small_2x/ai-generated-confident-businesswoman-with-crossed-arm-isolated-in-yellow-background-free-photo.jpg" alt="Elena Gilbert">
              </div>
              <div class="testimonial-content">
                  <h3>Elena Gilbert</h3>
                  <p class="role">Parent in California</p>
                  <div class="rating">★★★★★</div>
                  <p>Since joining MyEduSync, my daughter's confidence in math has skyrocketed! The personalized attention she receives is truly transforming her approach to learning.</p>
              </div>
          </div>
          <!-- Review 2 -->
          <div class="testimonial-card">
              <div class="testimonial-image">
                  <img src="https://t4.ftcdn.net/jpg/03/03/11/97/360_F_303119721_EabYowCVsPMkCo7UMSGWx4Z2AvNkR7bV.jpg" alt="Rajesh Singh">
              </div>
              <div class="testimonial-content">
                  <h3>Rajesh Singh</h3>
                  <p class="role">Student in New York</p>
                  <div class="rating">★★★★☆</div>
                  <p>MyEduSync's interactive lessons make learning complex science topics engaging and accessible. I'm genuinely looking forward to my future lessons!</p>
              </div>
          </div>
          <!-- Review 3 -->
          <div class="testimonial-card">
              <div class="testimonial-image">
                  <img src="https://media.istockphoto.com/id/1444184996/photo/young-asian-ethnicity-businesswoman-having-a-video-conference-at-her-office.jpg?s=612x612&w=0&k=20&c=pPtjXuomUAsrhb6M0tRomoHKywxkdimp51TSNUkUDHo=" alt="Laura Johnson">
              </div>
              <div class="testimonial-content">
                  <h3>Laura Johnson</h3>
                  <p class="role">Educator in London</p>
                  <div class="rating">★★★★★</div>
                  <p>Partnering with MyEduSync has allowed me to reach students across the globe, enhancing both their and my own educational experiences. This platform is a game-changer!</p>
              </div>
          </div>
          <!-- Review 4 -->
          <div class="testimonial-card">
              <div class="testimonial-image">
                  <img src="https://img.freepik.com/free-photo/portrait-man-visiting-luxurious-city-dubai_23-2151328612.jpg" alt="Mohammad Al Fayed">
              </div>
              <div class="testimonial-content">
                  <h3>Mohammad Al Fayed</h3>
                  <p class="role">Parent in Dubai</p>
                  <div class="rating">★★★★★</div>
                  <p>The tutors at MyEduSync have not only improved my son's grades but also his enthusiasm for learning. It's comforting to see such positive changes.</p>
              </div>
          </div>
      </div>
      </div>
  </div>
  
