:host {
  flex: 1;
}

.til-markdown {
  @apply prose-custom;

  .language-js {
    span {
      font-family: monospace;
    }
  }
}

.editor {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 200px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

.toolbar {
  margin-bottom: 10px;
}

.toolbar button {
  margin-right: 5px;
}
