<div class="container">
  <div class="left-section">

    <div class="profile-card">
      <img
        src="https://img.freepik.com/free-vector/user-circles-set_78370-4704.jpg?t=st=1730996476~exp=1731000076~hmac=7127915ae14d127ccb1c6d363001e8391c0e51e41752926e93f8efd1be911e92&w=740"
        alt="Theresa Flores" class="profile-image">
      <div class="profile-info">
        <h1>{{profiledata?.name }}</h1>
        <p>{{profiledata?.currentDesignation}}</p>
        <div class="buttons">
          <button class="btn book" (click)="goToEditProfile()">Edit Profile</button>
          <button class="btn share">Share</button>
        </div>
      </div>
    </div>

    <div class="bio-card">
      <div class="bio-details">
        <h2>About Me</h2>
        <p>{{profiledata?.aboutMe}}</p>


      </div>
      <div class="skills">
        <span class="skill">{{profiledata?.skills}}</span>
        <!-- <span class="skill">Online education</span>
        <span class="skill">Pre-school education</span>
        <span class="skill">Foreign languages</span> -->
      </div>
    </div>




  </div>
  <div class="right-section">

    <div class="work-card">
      <div class="work-header">
        <h2>Work Experience</h2>
        <button class="add-work-btn" (click)="goToAddWork()">Add Experience</button>
      </div>
      <div *ngFor="let expdata of experiencedata" class="work-entry">
        <div class="work-info">
          <div>
            <h3>{{expdata?.designation}}</h3>
            <p>{{expdata?.organisationName}}</p>
            <p>{{expdata?.startTime}} - {{expdata?.endTime}}</p>
          </div>
        </div>
        <a href={{expdata?.credentialUrl}} class="credential-link">Show credential</a>
      </div>
    </div>

    <!-----education card ------>
    <div class="education-card">
      <div class="education-header">
        <h2>Educational Background</h2>
        <button class="add-education-btn" (click)="goToAddEducation()">Add Education</button>
      </div>
      <div *ngFor="let edudata of educationdata" class="education-entry">
        <div class="university-info">
          <div>
            <h3>{{edudata?.instituteName}}</h3>
            <p>{{edudata?.courseName}} - {{edudata?.fieldOfStudy}}</p>
            <p><b>{{edudata?.startTime}}</b> - {{edudata?.endTime}}</p>
            <p><b>Grade</b> - {{edudata?.grade}} </p>
          </div>
        </div>
        <a href={{edudata?.credentialUrl}} class="credential-link">Show credential</a>
      </div>
    </div>


    <!-----Course card ------>
    <div class="course-section">
      <div class="course-header">
        <h2>Courses</h2>
        <button class="create-course-btn" (click)="goToCreateCourse()">Create Course</button>

      </div>
      <!-- Example of a single course card -->
      <div *ngFor="let course of coursedata" class="course-card">
        <div class="course-details">
          <div class="subject">
            <h3>{{course?.subject}}</h3>
            <p>{{course?.board}}</p>
          </div>
          <div class="frequency">
            <p>{{course?.weeklySessions}} classes / weekly</p>
          </div>
          <div class="mode">
            <p> {{course?.mode}} | {{ course?.English}}</p>
          </div>
          <div class="cost">
            <p>{{ course?.currency}} {{course?.costPerSessions}} Per Session</p>
          </div>
        </div>
        <button class="join-btn">Join</button>
      </div>
    </div>
  </div>
</div>