:host {
  flex: 1;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
  

  .logo {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .search-container {
    margin-top: 20px;
    background-color: #f0f4ff;
    border-radius: 16px;
    padding: 20px;
    display: inline-block;
    margin-bottom: 20px;
  
    .search-bar {
      display: flex;
      align-items: center;
      gap: 10px;
  
      input, select {
        border: none;
        background: #ffffff;
        padding: 1rem 2rem;
        border-radius: 16px;
        outline: none;
        flex-grow: 1;
        min-width: 120px; // Ensure minimum width for aesthetics
        box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); // Subtle inset shadow
        text-align: center; // Center text if aesthetically preferable
        cursor: pointer; // Cursor pointer to indicate it's a dropdown
      }
  
      select {
        appearance: none; // Removes native dropdown styling
        background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); // Custom arrow
        background-repeat: no-repeat;
        background-position: right 10px center; // Position for custom arrow
        background-size: 12px; // Size of custom arrow
      }
  
      button {
        padding: 1rem 2rem;
        background-color: #fa99d8; // Bright color for visibility
        color: white;
        border-radius: 16px;
        text-decoration: none;
        font-size: 1.0rem; // Larger font for button
        font-weight: bold; // Bold for impact
        transition: all 0.3s ease;

        &:hover {
            background-color: darken(#fa99d8, 10%);
            transform: translateY(-3px); // Increased lift effect
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  

  .scrollable-category-container {
    background-color: #fff7e6;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;


    .category-buttons-wrapper {
      overflow: hidden;
      flex-grow: 1;
      display: flex;

      .category-buttons {
        display: flex;
        gap: 15px;
        overflow-x: scroll;
        padding: 10px 0;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          display: none;
        }

        scrollbar-width: none;

        button {
          background-color: #ffffff;
          border-radius: 16px;
          padding: 10px 20px;
          color: #333;
          cursor: pointer;
          font-weight: 500;
          white-space: nowrap;

          i {
            margin-right: 10px;
          }

          &:hover {
            background-color: #ffc107;
            color: #fff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
 
  .search-bar {
    flex-direction: column;

    input, select {
      width: 100%;
      margin-bottom: 10px;
    }

    button {
      width: 100%;
    }
  }

  .category-buttons {
    flex-direction: column;

    button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
// Notes design 

// Header 

.section-header {
  text-align: center;
  margin-bottom: 1px;
  margin-top: 10px; // Space between the header and the cards

  h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }

  p {
    font-size: 16px;
    color: #666;
    margin-top: 10px; // Small gap between the heading and paragraph
    max-width: 600px; // Limit the paragraph width for better readability
    margin-left: auto;
    margin-right: auto; // Center the text block
  }
}



// Latest  post scss
.card-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
  overflow-x: auto;
  -ms-overflow-style: none; // Hides scrollbar on Internet Explorer and Edge
  scrollbar-width: none; // Hides scrollbar on Firefox

  &::-webkit-scrollbar {
    display: none; // Hides scrollbar on WebKit browsers (Chrome, Safari)
  }




  @media (max-width: 768px) {
    flex-wrap: nowrap; // Prevents cards from stacking on smaller screens
    padding: 20px;
    gap: 15px;
  }

  @media (max-width: 480px) {
    padding: 15px;
    gap: 10px;
  }
}

.card {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 15px;
  width: 35%;
  min-width: 250px; // Minimum width to keep cards readable on smaller screens
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, border-color 0.2s;
  flex-shrink: 0; // Prevents cards from shrinking in a flex container

  &:hover {
    transform: translateY(-5px);
    border-color: #ccc;
  }

  .category {
    color: green;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .title {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
  }

  .image-container {
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid #e0e0e0;

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-radius: 16px;
    }
  }

  .description {
    font-size: 12px;
    color: #555;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .date {
    font-size: 14px;
    color: #999;
  }

  // Media queries for card content adjustments
  @media (max-width: 768px) {
    width: 45%;
    .title {
      font-size: 18px;
    }
    .description {
      font-size: 15px;
    }
    .image-container img {
      height: 150px;
    }
  }

  @media (max-width: 480px) {
    width: 60%;
    .title {
      font-size: 16px;
    }
    .description {
      font-size: 14px;
    }
    .image-container img {
      height: 130px;
    }
  }
}
